<h1>Create new Contact</h1>

<form action='/contacts' method='post'>
  <input type='text' name='first_name' placeholder="First Name">
  <input type='text' name='last_name' placeholder="Last Name">
  <input type='email' name='email' placeholder="Email">
  <textarea name="notes" placeholder="Notes"> </textarea>
  <input type='submit' value='New Contact'>
</form>
